/*-al body recibe el padding porque la barra de navegacion es fixed -*/

body {
    background-color: #333333;
}

/*-estilo general de navbar-*/

.navbar {
      margin-bottom: 0px;
      border-radius: 0px;
      border: 0px;
      padding: 10px;
      transition: all 0.6s ease-in-out;
}

/*- estilo del logo de la pagina -*/

.logo {
     font-size: 35px;
}

.navbar-inverse .navbar-brand {
    color: #94d500;
}

.navbar-inverse .navbar-text {
    font-size: 20px;
}

/* estilo de la barra de busqueda del navbar */

.nav-search {
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #444444;
  background-color: #222222;
  width: 100px;
  padding: 12.5px;
  border-radius: 0px;
  outline: none;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}

/*.fa-search {
   color:#b1b1b1;
   padding-left: 10px;
   padding-top: 7px;
   padding-bottom: 7px;
}*/

.nav-search:focus {
  width: 450px;
  border-color: #00bfff;
  background-color: #d7d7d7;
  color: #1c1c1c;
}

/* animacion del boton que aparece cuando el navbar se colapsa a bajas resoluciones */

.navbar-toggle {
  padding: 9px 7px;
  border-radius: 0px;
}

.navbar-toggle .icon-bar{
  width: 26px;
  transition: all .5s;
}

.navbar-inverse .navbar-toggle .icon-bar {
     border-color:#94d500;
     background-color: #94d500; /* verde ejemplo*/
}

.navbar-toggle.click .icon-bar:nth-child(1) {
     transform: rotate(45deg) translateY(4px) translateX(5px);
}

.navbar-toggle.click .icon-bar:nth-child(3) {
     transform: rotate(-45deg) translateY(-4px) translateX(5px);
}

.navbar-toggle.click .icon-bar:nth-child(2) {
     transform: translateX(-100%);
     opacity: 0;
}

/* estilos de los botones de navbar "Conectate y Registrate"*/

.btn-nav {
    border-color: #94d500;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color:#00bfff;
    border-radius: 0px;
    margin-bottom: 7px;
    margin-left: 10px;
    padding: 0px 7px;
}

.navbar-inverse .navbar-nav > li > a {
  color:#94d500;
  padding: 13px;
}

.navbar-inverse .navbar-nav > li > .btn-nav:hover {
    border-color: #A5ED00;
    background-color: #94d500;
    color: #fff;
}

.navbar-form {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 5px;
}

/* jumbotron */

.jumbotron {
    height: 470px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-image: url(../img/tocguit2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1{
    margin-top: 150px;
    font-family: 'Comfortaa', cursive;
    color: #66ff1a;
    text-shadow: 0px 0px 7px #000000;
}

.jumbotron p {
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 7px #000000;

}


/* la nota musical */

p > .fa-5 {
    font-size: 12em;
    margin: 0px;
    color: #94d500;
}

p > .fa-tel {
    font-size: 35px;
}

/* colores de fondo de cada seccion*/

.gray {
  background-color: #d7d7d7;
  padding-top: 35px;
  padding-bottom: 35px;
}

.gray2 {
  background-color: #d7d7d7;
  padding-top: 35px;
  padding-bottom: 0px;
}

.black {
  background-color: #333333;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* seccion de Grupos y Eventos */

.event {
    color: #fff;
    background-image: url(../img/piano1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 35px;
}

.img-square {
   margin-left: 32px;
   margin-top: 32px;
   border: 4px solid #94d500;
   box-shadow: 0px 0px 14px #000;
   -moz-transition: all 0.4s ease-out;
   -o-transition: all 0.4s ease-out;
   -webkit-transition: all 0.4s ease-out;
   -ms-transition: all 0.4s ease-out;
   transition: all 0.4s ease-out;
}

.img-square:hover {
    box-shadow: 0px 0px 17px #94d500;
    border-color: #fff;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
} 

@media only screen and (max-width:414px) {
    .image {
        margin-left: auto;
        margin-right: auto;
    }
}

.event-info {
  border-width: 1px 1px 1px 7px;
  border-style: solid;
  border-color: #94d500;
  margin-bottom: 7px;
  padding: 2px 18px;
}

.fa-share {
  float:right;
}

/* seccion de vista para celular */

p > .logpage {
    background-color: #222;
    padding: 7px;
    font-size: 30px;
    color: #94d500;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.inlogo {
    display: inline;
    padding: 5px;
    font-size: 22px;
    font-family: Ubuntu;
}


/* footer todavia hay que trabajarlo */

.footer {
  background-color: #333333;
  color: #c4c4c4;
  padding-top: 23px;
  padding-bottom: 23px;
}

li > .footlink {
    display: inline-block;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: #c4c4c4;
    border-left: 1px;
    border-color: #fff;
    transition: all 0.3s ease-in-out;
}

.footlink:hover {
    color: #94d500;
}

.footp {
    font-size: 14px;
}

.footlog > i {
    color:#94d500; /*#ff9900;*/
    padding-left: 7px;
    margin-bottom: 25px;
}

.line {
    width: 300px;
    height: 1px;
    background-color: #444;
    margin-bottom: 7px;
}


/* fuentes para titulos */

.font-cabin {font-family: 'Cabin', sans-serif;}
.font-poiret {font-family: 'Poiret One', cursive;} /*finito*/
.font-exo {font-family: 'Exo', sans-serif;}
.font-kaushan {font-family: 'Kaushan Script', cursive;} /*cursiva*/
.font-comfortaa {font-family: 'Comfortaa', cursive;} /*redondeada*/
.font-russo {font-family: 'Russo One', sans-serif;} /*negrita imprenta*/
.font-farsan {font-family: 'Farsan', cursive;} /*cursiva condensada*/
.font-righteous {font-family: 'Righteous', cursive;} /*redondeada impreta no usar*/

/* fuentes para parrafos */

.font-ubuntu {font-family: 'Ubuntu', sans-serif;}
.font-poppins {font-family: 'Poppins', sans-serif;}
.font-maven {font-family: 'Maven Pro', sans-serif;}
.font-antic {font-family: 'Antic', sans-serif;}


.logspot {
    font-size: 25px;
}

/* tamaño de fuente para todos los parrafos parrafos */
p {
    font-size: 19px;
}
