
body {
    padding-top: 65px;
}

.usercover {
    padding-top: 60px;
    padding-bottom: 10px;
    background-image: url(../img/recital1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    
}

.username {
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    color: #66ff1a;
    text-shadow: 0px 0px 7px #000000;
}

.user {
    border: 6px solid #94d500;
    box-shadow: 0 0 12px #000;
}

.subuser {
    border: 2px solid #94d500;
    box-shadow: 0 0 1px #000;
}

.post {
    padding-top: 30px;
    border-top: 2px solid #94d500;
    background-color: #555;
    padding-bottom: 40px;
}


.panel-bandas {
    border: 1px solid #94d500;
    background-color: #222;
    border-radius: 0;
    box-shadow: 0 0 12px #000;
}

.panel-heading {
    background-color: #94d500;
    border-bottom: 1px solid #94d500;
    border-radius: 0px;
}

.panel-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: #fff;
}

.posteo {
    padding: 12px 10px;
    background-color: #222;
    border: 1px solid #94d500;
    border-radius: 0px;
    box-shadow: 0 0 12px #000;
    color: #fff;
}

.media-heading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #222;
    border: 1px solid #94d500;
    box-shadow: 0 0 12px #000;
    border-radius: 0px;
    color: #fff;
}

h3 {
   color: #fff; 
}

.thumcoment {
   color: #fff; 
   font-size: 15px;
}


/* --------------------------------------------------------------- */

.olvidcont {
    text-decoration: none;
    float: right;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #c4c4c4;
    transition: all 0.3s ease-in-out;
}

.olvidcont:hover {
    color: #94d500;
}

.logtit {
    color: #fff;
    text-shadow: 0 0 7px #000000;
}

.form-control {
    font-size: 17px;
    border-radius: 0;
    border-color: #94d500;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #222;
    color: #94d500;
}

.form-group {
    padding-bottom: 30px;
}

.form-group > input {
    box-shadow: 0 0 12px #000;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.form-group > input:focus {
    border: 1px solid #94d500;
    box-shadow: 0 0 9px #94d500;
}

.input-group-addon {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: bolder;
    color: #001a00;
    text-align: center;
    background-color: #94d500;
    border: 1px solid #94d500;
    border-radius: 0px;
}

/* efecto cuando se produce un error en el campo */

.errorph {
    border: 1px solid #e62e00;
    border-radius: 0;
    padding-left: 12px;
    padding-top: 10px;
    background-color: #330000;
    color: #e62e00;
    box-shadow: 0 0 12px #000;
}

.onerrorph > input {
    font-size: 17px;
    border-color: #e62e00;
    color: #e62e00;
    box-shadow: 0 0 12px #000;
}

.onerrorph > input:focus {
    border: 1px solid #e62e00;
    box-shadow: 0 0 12px #e62e00;
}

.errcript {
    font-size: 15px;
    color: #e62e00;
}

.onerror > input {
    font-size: 17px;
    border-color: #e62e00;
    background-color: #330000;
    color: #e62e00;
    box-shadow: 0 0 12px #000;
}

.onerror > input:focus {
    border: 1px solid #e62e00;
    box-shadow: 0 0 12px #e62e00;
}



/*-------------------------------------------fin efecto-*/

.btn-login {
    font-family: 'Maven Pro', sans-serif;
    font-size: 17px;
    border-radius: 0;
    border-color: #94d500;
    background-color: #222;
    margin-top: 25px;
    padding: 9px 17px;
    box-shadow: 0 0 12px #000;
    color: #94d500;
    transition: all 0.4s ease-in-out;
}

.btn-login:hover {
    border-color: #fff;
    background-color: #94d500;
    color: #fff;
    box-shadow: 0 0 9px #94d500;
}

.btn-login:focus {
    border-color: #94d500;
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 12px #000;
}


